#top_section_notice {
	min-width: 20% !important;
}

#agreement_box {
	overflow: auto;
	margin-bottom: 1em;
	padding: 1em;
	height: 10em;
	border: 1px #CCCCCC solid;
	background: #FFFFFF;
	text-align: justify;
}

#extauth_th_icons {
	float: left;
	padding-top: 9px;
	margin: 0 10px;
}

.extauth_th_icons {
	display: flex;
	gap: 12px;
	background: #FAFAFA;
	border-radius: 5px;
	padding: 5px;
}

.extauth_th_icon {
	width: 18px;
	height: 18px;
}

.extauth_icons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.extauth_icon {
	min-height: 48px;
	min-width: 48px;
}

.extauth_facebook {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23485A96' fill-rule='evenodd' d='M22.675 24c.732 0 1.325-.593 1.325-1.325V1.325C24 .593 23.407 0 22.675 0H1.325C.593 0 0 .593 0 1.325v21.35C0 23.407.593 24 1.325 24h21.35z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M16.56 24v-9.294h3.12l.466-3.622H16.56V8.77c0-1.048.292-1.763 1.796-1.763h1.918v-3.24c-.332-.045-1.47-.143-2.795-.143-2.766 0-4.659 1.688-4.659 4.788v2.67H9.691v3.623h3.128V24h3.74z' clip-rule='evenodd'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
}

.extauth_google {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%234285F4' d='M24 12.267c0-.987-.082-1.707-.259-2.454H12.245v4.454h6.748c-.136 1.106-.87 2.773-2.503 3.893l-.023.149 3.635 2.76.252.024C22.667 19 24 15.92 24 12.267z'/%3E%3Cpath fill='%2334A853' d='M12.245 24c3.306 0 6.081-1.067 8.109-2.907L16.49 18.16c-1.034.707-2.422 1.2-4.245 1.2a7.358 7.358 0 0 1-6.966-4.987l-.144.012-3.78 2.867-.049.135C3.32 21.307 7.456 24 12.245 24z'/%3E%3Cpath fill='%23FBBC05' d='M5.279 14.373A7.254 7.254 0 0 1 4.87 12c0-.827.15-1.627.394-2.373l-.007-.16L1.43 6.555l-.125.058A11.816 11.816 0 0 0 0 12c0 1.933.476 3.76 1.306 5.387l3.973-3.014z'/%3E%3Cpath fill='%23EB4335' d='M12.245 4.64c2.3 0 3.85.973 4.735 1.787l3.455-3.307C18.313 1.187 15.551 0 12.245 0 7.455 0 3.32 2.693 1.306 6.613l3.96 3.014c.993-2.894 3.74-4.987 6.979-4.987z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
}

.extauth_github {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23161614' fill-rule='evenodd' d='M12 0C5.373 0 0 5.508 0 12.304c0 5.436 3.438 10.048 8.206 11.675.6.114.82-.267.82-.592 0-.293-.01-1.263-.016-2.29-3.338.743-4.043-1.453-4.043-1.453-.546-1.422-1.332-1.8-1.332-1.8-1.089-.763.082-.748.082-.748 1.205.087 1.84 1.268 1.84 1.268 1.07 1.881 2.807 1.337 3.491 1.023.108-.795.42-1.338.762-1.645-2.665-.311-5.467-1.366-5.467-6.08 0-1.344.469-2.442 1.236-3.303-.124-.31-.535-1.562.117-3.256 0 0 1.007-.331 3.3 1.26A11.23 11.23 0 0 1 12 5.95a11.26 11.26 0 0 1 3.006.414c2.29-1.592 3.297-1.261 3.297-1.261.653 1.694.242 2.946.118 3.256.769.861 1.235 1.959 1.235 3.302 0 4.726-2.808 5.766-5.48 6.071.43.382.814 1.13.814 2.279 0 1.646-.014 2.97-.014 3.376 0 .327.216.711.825.59C20.566 22.35 24 17.738 24 12.304 24 5.508 18.627 0 12 0z' clip-rule='evenodd'/%3E%3Cpath fill='%23161614' d='M4.5 17.524c-.026.06-.12.08-.204.037-.086-.04-.135-.124-.107-.185.026-.063.12-.081.205-.039.087.04.136.125.106.187zm.586.541c-.057.055-.168.03-.243-.057-.078-.086-.093-.2-.035-.256.059-.055.166-.03.245.057.078.087.093.201.033.256zm.402.694c-.073.052-.192.003-.266-.107-.073-.11-.073-.241.002-.294.074-.053.191-.005.266.104.073.111.073.243-.002.297zm.68.802c-.065.075-.204.055-.306-.047-.104-.1-.133-.24-.068-.315.066-.075.206-.054.309.047.103.1.135.242.065.315zm.879.271c-.029.097-.163.141-.298.1-.134-.042-.223-.156-.195-.253.028-.098.162-.143.298-.1.135.043.223.155.195.253zm1 .115c.003.102-.111.187-.253.189-.142.003-.257-.08-.259-.18 0-.103.112-.186.254-.189.142-.003.258.08.258.18zm.982-.039c.017.1-.081.202-.222.229-.138.026-.266-.035-.284-.134-.017-.102.084-.204.222-.23.14-.025.267.034.284.135z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
}

.extauth_twitter {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232DAAE1' d='M24 4.366a9.641 9.641 0 0 1-2.828.795 5.043 5.043 0 0 0 2.165-2.792 9.69 9.69 0 0 1-3.127 1.225A4.86 4.86 0 0 0 16.616 2c-2.718 0-4.923 2.26-4.923 5.048 0 .396.044.781.127 1.151C7.728 7.99 4.1 5.98 1.672 2.925a5.122 5.122 0 0 0-.666 2.538 5.08 5.08 0 0 0 2.19 4.201 4.809 4.809 0 0 1-2.23-.63v.063c0 2.446 1.696 4.486 3.949 4.95a4.874 4.874 0 0 1-2.224.088c.626 2.005 2.445 3.465 4.598 3.506A9.723 9.723 0 0 1 0 19.73 13.683 13.683 0 0 0 7.547 22c9.056 0 14.008-7.693 14.008-14.364 0-.219-.005-.436-.015-.653A10.178 10.178 0 0 0 24 4.366z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
}

.extauth_amazon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23050606' d='M17.685 9.306c0 .825.03 1.646-.01 2.47-.039.94.245 1.745.832 2.457.069.083.132.167.19.256.211.322.172.544-.117.791-.616.524-1.227 1.053-1.844 1.576-.366.312-.596.307-.968 0-.499-.41-.89-.914-1.238-1.452-.083-.129-.127-.124-.23-.025-.616.608-1.266 1.17-2.093 1.453-1.276.44-2.573.508-3.854.049-1.233-.445-1.971-1.364-2.245-2.643-.303-1.428-.147-2.787.724-3.998.66-.914 1.575-1.453 2.626-1.784 1.086-.336 2.206-.464 3.331-.578.318-.034.631-.064.949-.094.078-.005.147-.014.142-.118-.01-.524.044-1.058-.078-1.571-.157-.658-.582-1.043-1.233-1.186a2.503 2.503 0 0 0-1.374.079c-.685.237-1.11.716-1.282 1.428-.093.39-.274.528-.65.489L6.86 6.653c-.328-.035-.499-.287-.43-.608.415-2.05 1.746-3.202 3.663-3.73 1.472-.406 2.964-.43 4.441-.01 1.189.336 2.187.929 2.744 2.105.318.667.392 1.388.401 2.11.01.923 0 1.857.005 2.786-.005 0 0 0 0 0zm-3.805 1.542c0-.247-.01-.494.005-.741.01-.153-.044-.208-.196-.193-.372.035-.748.04-1.12.089-.65.084-1.286.247-1.815.662-.768.608-.929 1.438-.802 2.372.152 1.097 1.12 1.704 2.157 1.339.705-.247 1.135-.771 1.433-1.428.313-.667.338-1.384.338-2.1z'/%3E%3Cpath fill='%23F6A61F' fill-rule='evenodd' d='M20.071 17.697c.47-.052.94-.104 1.415-.1h.12c.284-.002.571-.003.858.075.313.079.426.217.42.538v.006c-.004.092-.01.189-.029.286-.136.746-.413 1.442-.69 2.14l-.034.083v.003c-.04.088-.087.196 0 .269.093.08.201.02.289-.044.04-.03.078-.06.112-.094.984-.974 1.439-2.17 1.468-3.543.005-.257-.117-.405-.367-.48-.548-.167-1.105-.192-1.668-.157-.817.044-1.594.227-2.289.691-.093.064-.205.143-.147.277.044.105.144.094.242.083l.037-.004.263-.029zM1.96 18.967c3.028 2.04 6.378 3.008 10.11 3.033a17.902 17.902 0 0 0 3.82-.45c1.957-.44 3.806-1.151 5.493-2.258l.057-.037c.093-.06.184-.12.266-.19.137-.119.24-.267.161-.455-.083-.202-.269-.227-.455-.192-.132.03-.264.084-.391.138a23.25 23.25 0 0 1-8.159 1.715 23.99 23.99 0 0 1-5.85-.569 23.727 23.727 0 0 1-6.084-2.238l-.208-.11c-.14-.073-.28-.147-.423-.216-.093-.045-.2-.035-.264.064-.064.09-.025.178.03.252a.943.943 0 0 0 .136.143 16.3 16.3 0 0 0 1.761 1.37z' clip-rule='evenodd'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
}

.extauth_linkedin {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230177B5' d='M22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z'/%3E%3Cpath fill='%23fff' d='M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455l-.001 6.286zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065 2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
}

.extauth_yahoo {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' viewBox='0 0 3386.34 3010.5'%3E%3Cpath fill='%235f01d1' fill-rule='nonzero' d='M0 732.88h645.84l376.07 962.1 380.96-962.1h628.76l-946.8 2277.62H451.98l259.19-603.53L.02 732.88zm2763.84 768.75h-704.26L2684.65 0l701.69.03-622.5 1501.6zm-519.78 143.72c216.09 0 391.25 175.17 391.25 391.22 0 216.06-175.16 391.23-391.25 391.23-216.06 0-391.19-175.17-391.19-391.23 0-216.05 175.16-391.22 391.19-391.22z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
}
